*{
    margin: 0%;
    padding: 0%;
}

html, body{
    width: 100%;
    height: 100%;
}

.shape{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#diamond{
    rotate: 45deg;
    translate: 0px 40px;
}

#circle{
    border-radius: 50%;
}

#diamond h1{
    rotate: -45deg;
}

#square:hover{
    background-color:red;
}

#diamond:hover{
    background-color: green;
}

#circle:hover{
    background-color: blue;
}